img {
  width: 100%;
}

body {
  margin: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}

article {
  border: solid black 1px;
  padding: 1rem;
  margin: 1rem;
}

.valgt {
  background-color: beige;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 5px;
  overflow-x: auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

/* .kortbeskrivelse,
.oprindelsesregion,
.pris {
  font-style: italic;
} */
